<h1 class="titleBar">About Me!</h1>
<br>
<ul class="navBar">
    <li class="navBtnContainer"><a class="navBtn" href="">Home</a></li>
    <li class="navBtnContainer"><a class="navBtn" href="monster">Monster Calculator</a></li>
    <li class="navBtnContainer"><a class="navBtn" href="treasure">Treasure Generator</a></li>
    <li class="navBtnContainer"><a class="navBtn" href="mapbuilder">Map Builder</a></li>
    <li class="navBtnContainer"><a class="active" href="about">About</a></li>
</ul>

<p>This is just a simple project to practice some Angularjs 2 and learn a little material design</p>