<h1 class="titleBar">Welcome to DM Tools Lite</h1>
<br>
<ul class="navBar">
    <li class="navBtnContainer"><a class="active" href="">Home</a></li>
    <li class="navBtnContainer"><a class="navBtn" href="monster">Monster Calculator</a></li>
    <li class="navBtnContainer"><a class="navBtn" href="treasure">Treasure Generator</a></li>
    <li class="navBtnContainer"><a class="navBtn" href="mapbuilder">Map Builder</a></li>
    <li class="navBtnContainer"><a class="navBtn" href="about">About</a></li>
</ul>
<p>This is DM Tools Lite, Andy's new Angular2 App.  Fun and Material design lie ahead!</p>


