<h1 class="titleBar">{{title}}</h1>
<br>
<div class="formContainer">  
    <input type="text" name="AC" [(ngModel)]="AC"/><label> AC</label><br>
    <input type="text" name="HP" [(ngModel)]="HP"/><label> HP</label><br>
    <strong>Defense Rating:</strong> 
    {{defenseRating}}
</div>

<div class="formContainer">
    <input type="text" name="attBonus" [(ngModel)]="attBonus"/><label> Attack Bonus</label><br>  
    <input type="text" name="avgDamage" [(ngModel)]="avgDamage"/><label> Average Damage</label><br>
    <strong>Offense Rating:</strong>
    {{offenseRating}}
</div>
<br>
<div class="formContainer"><strong>Calculated Challenge Rating:</strong> {{challenge}}</div>
<div><button (click)="calculateChallenge()" class="btn"><strong>Calculate</strong></button></div>