<h1>
  {{title}}
</h1>

<label>AC:</label>
<input type="text" name="AC" [(ngModel)]="AC"/> <br>
<label>HP:</label>
<input type="text" name="HP" [(ngModel)]="HP"/><br>
<strong>Defense Rating:</strong> 
{{defenseRating}}<hr/>
<label>Attack Bonus:</label>
<input type="text" name="attBonus" [(ngModel)]="attBonus"/> <br>
<label>Average Damage:</label>
<input type="text" name="avgDamage" [(ngModel)]="avgDamage"/> <br>
<strong>Offense Rating:</strong>
{{offenseRating}}
<hr/>
<strong>Calculated Challenge Rating:</strong> {{challenge}}
<button (click)="calculateChallenge()">Calculate!</button>