<ul class="navBar">
    <li class="navBtnContainer"><a class="active" (click)="setActive(Home)" href="">Home</a></li>
    <li class="navBtnContainer"><a class="navBtn" (click)="setActive(Monster)"  href="monster">Monster Calculator</a></li>
    <li class="navBtnContainer"><a class="navBtn" (click)="setActive(Treasure)"  href="treasure">Treasure Generator</a></li>
    <li class="navBtnContainer"><a class="navBtn" (click)="setActive(MapBuilder)"  href="mapbuilder">Map Builder</a></li>
    <li class="navBtnContainer"><a class="navBtn" (click)="setActive(About)"  href="about">About</a></li>
</ul>