/*
Custom app CSS
dark green - #088A29
#088A29
#04B431
#2EFE64
#58FA82
*/

.titleBar {
    margin: 10px auto;
    background-color:#088A29;
    width: auto;
    display: inline-block;
    padding: 5px; 

    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);   
}

.formContainer {
    position: relative;

    display: inline-block;
    margin: 30px auto;
    padding: 5px;

    overflow: hidden;

    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    
    background-color: #2EFE64;
    
    transition: background-color .3s;
}

.btn {

  display: inline-block;
  margin: 30px auto;
  padding: 5px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: #2EFE64;
  cursor: pointer;
  
  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #27ae60;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}

a {
    color: black;
    text-decoration: none;
}

a:link {
    color:black;
}

.small {
  width: 30% !important;
}

.large {
  width: 60% !important;
}

.map {
  height: 1200px;
}

.navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navBtnContainer {
  float: left;
}

.navBtn {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navBtn:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

hr.style13 {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #0B6121 inset;
}